.sign-in-and-sign-up {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  
    margin: 30px auto;
    @media screen and(max-width:800px) {
      width:350px;
      
    
    }
  }