.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    border-radius: 15px;
    border:1px solid black;
    padding: 20px;
    align-items: center;
    background-color:darksalmon;
  }